@inject IAssetManager assetManager

@if (bookDetails != null)
{
    <div class="@GetContainerClass()">
        <div class="cover" style="background: url('@bookCoverUrl')">
            <div class="header">
                <div class="close" @onclick="OnCloseClickAsync"></div>
            </div>
            <div class="text">
                <div class="filter">
                    <div class="title">@bookDetails.Title</div>
                    <div class="sinopsis">@bookDetails.Synopsis</div>
                    <div class="tags">@string.Join(" • ", bookDetails.Tags)</div>
                    <button class="start" @onclick="OnStartClick">Iniciar Leitura</button>
                    <div class="options">
                        <div class="status">@status</div>
                        <div class="restart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (reading)
    {
        <Reading Book="bookDetails" OnClose="OnCloseReading" />
    }
}

@code {
    [Parameter]
    public BookDto? Book { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private bool closing = false;
    private bool reading = false;
    private BookDetailsDto? bookDetails;
    private string bookCoverUrl = string.Empty;
    private string status = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        if (Book == null)
            return;

        bookCoverUrl = assetManager.GetBookCoverUrl(Book.Name);
        bookDetails = await assetManager.GetBookDetailsAsync(Book.Name);
        if (bookDetails.FullReleased)
            status = $"{bookDetails.ReleasedChapters} capítulos (completo)";
        else
            status = $"{bookDetails.ReleasedChapters} capítulos disponíveis";
    }

    private async Task OnCloseClickAsync()
    {
        closing = true;
        await Task.Delay(TimeSpan.FromSeconds(0.5));
        await OnClose.InvokeAsync();
    }

    private string GetContainerClass()
        => closing ? "container fadeout" : "container";

    private void OnStartClick()
    {
        reading = true;
        StateHasChanged();
    }

    private void OnCloseReading()
    {
        reading = false;
        StateHasChanged();
    }
}
