@page "/"
@inject IAssetManager assetManager

<div class="header">
    <img src="@(assetManager.GetCommonIconUrl("logo"))" class="logo" />
    <img src="@(assetManager.GetCommonIconUrl("refresh"))" class="refresh" @onclick="RefreshAsync" />
</div>

@if (categories != null)
{
    <div class="body">
        @foreach (var category in categories)
        {
            <div class="group_header">@category.Title</div>
            <div class="book_list">
                @foreach (var book in category.Books)
                {
                    <Thumbnail Book="@book" OnClick="SelectBookAsync" />
                }
            </div>
        }
    </div>
}

@if (selectedBook != null)
{
    <BookDetails Book="@selectedBook" OnClose="CloseDetails" />
}

@code {
    private IEnumerable<CategoryDto>? categories;
    private BookDetailsDto? selectedBook;

    private async Task RefreshAsync()
    {
        categories = await assetManager.GetBooksByCategoryAsync();
    }

    protected async override Task OnInitializedAsync() => await RefreshAsync();

    private async Task SelectBookAsync(BookDto book)
    {
        selectedBook = await assetManager.GetBookDetailsAsync(book.Name);
    }

    private void CloseDetails()
    {
        selectedBook = null;
    }
}
